@page
@model VipCon.Pages.Account.Manage.ListaUsuario

@{
    ViewData["Title"] = "Lista Usuários";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioParaListagemDTO[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioParaListagemDTO[0].Sobrenome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioParaListagemDTO[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioParaListagemDTO[0].Perfil)
                </th>                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsuarioParaListagemDTO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Email">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Email">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
