@page
@model VipCon.Pages.Parceiros.DetailsModel

@{
    ViewData["Title"] = "Detales";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Parceiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parceiro.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parceiro.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parceiro.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parceiro.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parceiro.Imagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parceiro.Imagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Parceiro.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
