@page
@model VipCon.Pages.Prospect.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja deletar esta simulação?</h3>
<div>
    <h4>Prospect</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.ModalidadeConsorcio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.ModalidadeConsorcio)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prospect.Id" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
