@page
@model VipCon.Pages.Prospect.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhe</h2>

<div>
    <h4>Simulação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.Telefone)
        </dt>
        <dd>            
            @Html.DisplayFor(model => model.Prospect.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prospect.ModalidadeConsorcio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prospect.ModalidadeConsorcio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prospect.Id">Editar</a> |
    <a asp-page="./Index">Retornar à listagem</a>
</div>
