@page
@model VipCon.Pages.Prospect.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Simulações</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Prospect[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prospect[0].Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prospect[0].Email)
                </th>
                <th>
                    Modalidade Consórcio
                </th>
                <th>
                    Data Simulação
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prospect) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModalidadeConsorcio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSimulacao)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
